  <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-bottom: 2%;">
    <div>
      <div fxLayoutAlign="start center">
        <p class="header">{{headerDetails.heading || 'No Heading'}}&nbsp;</p>
        <!-- <mat-icon class="header-icon">{{headerDetails.iconName}}</mat-icon> -->
      </div>
      <p class="sub-header">{{headerDetails.subHeading || 'No sub heading'}}</p>
    </div>
    <button mat-raised-button class="primary-button" (click)="buttonClicked()">
      <span class="button-text">{{headerDetails.buttonName || 'No button'}}</span>
    </button>
  </div>