<app-common-loader *ngIf="isLoading"></app-common-loader>
<!-- <div class="container">
  <app-common-header [headerDetails]="TechnologyGroupHeader" (ButtonClickEvent)="eventHandle($event)"></app-common-header>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="listDataSource">
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef>No</th>
        <td mat-cell *matCellDef="let element">{{ element.index }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="colorCode">
        <th mat-header-cell *matHeaderCellDef>Hex Color code</th>
        <td mat-cell *matCellDef="let element">{{ element.colorCode }}</td>
      </ng-container>
            <ng-container matColumnDef="preview">
        <th mat-header-cell *matHeaderCellDef>Preview</th>
        <td mat-cell *matCellDef="let element"><mat-chip [style.background]="element.colorCode"><p style="color:white;font-weight: 600;">{{ element.name }}</p></mat-chip></td>
      </ng-container>
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="edittechnologyGroup(element)"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button (click)="deletetechnologyGroup(element?._id)"><mat-icon class="delete_icon">delete</mat-icon></button>
      </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div> -->

<div class="container">
  <app-common-header [headerDetails]="TechnologyGroupHeader" (ButtonClickEvent)="eventHandle($event)"></app-common-header>
  <div class="flex-container" [ngStyle.lt-lg]="{'align-items':'center','justify-content':'center'}">
    @for(techData of technologyData;track techData.id){
    <div class="technology-card" [ngStyle.xs]="{'width':'100%'}" [ngStyle.lt-lg]="{'width':'40%'}">
      <div class="header">
      <p class="header-text">{{techData.name}}</p>
      <div>
      <button (click)="edittechnologyGroup(techData)" class="icon-button"><mat-icon>edit</mat-icon></button>
      <button (click)="deletetechnologyGroup(techData._id)" class="icon-button"><mat-icon class="delete_icon">delete</mat-icon></button>
    </div>
    </div>
    <table class="list-table">
      <tr>
        <td>Hex color code</td>
        <td>:</td>
        <td>{{techData.colorCode}}</td>
      </tr>
      <tr>
        <td>Text color</td>
        <td>:</td>
        <td>{{techData?.textColor?techData?.textColor:'#fffff'}}</td>
      </tr>
      <tr>
        <td>Preview</td>
        <td>:</td>
        <td><div [style.background]="techData.colorCode" role="listitem" class="chip"><span style="color:white;font-size:13px" [style.color]="techData.textColor">{{ techData.name }}</span></div></td>
      </tr>
    </table>
    <!-- <div class="row-content"><p>Hex color code:&nbsp;</p><p>{{techData.colorCode}}</p></div>
    <div class="row-content"><p>Preview:&nbsp;</p><div [style.background]="techData.colorCode" role="listitem" class="chip"><span style="color:white;font-size:13px">{{ techData.name }}</span></div></div> -->
    </div>
  }
  </div>
  <app-common-paginator [limit]="paginationData.limit" [limitArray]="[5,10]" [total]="100" (currentPage)="paginatorChanges($event)"></app-common-paginator>
</div>
<ng-template #addtechnologyGroupTemplate>
  <form [formGroup]="technologyGroupForm">
  <div style="padding: 5%;padding-top: 1%;" fxLayout="column" fxLayoutGap="5%">
    <div class="model-header" fxLayoutAlign="space-between center" style="">
      <p class="header-text">{{isEdit?'Edit':'Add'}} Technology</p>
      <mat-icon style="color:red;cursor: pointer;font-size: 16px;height: 18px;width: 16px;" (click)="closeDialog()">close</mat-icon>
    </div>
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      style="width: 100%;font-size: 13px;"
    >
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Technology name</mat-label>
        <input
          matInput
          placeholder="eg:java/c/react"
          formControlName="name"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Color Code</mat-label>
        <input matInput type="color" formControlName="colorCode"/>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Text color</mat-label>
        <input matInput type="color" formControlName="textColor"/>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button
        mat-raised-button
        class="primary-button" (click)="savetechnologyGroup()" [disabled]="!technologyGroupForm.valid"
      >
        {{isEdit?'Update':'Save'}}
      </button>
    </div>
  </div>
  </form>
</ng-template>
