<div class="container">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h3>Hero section content</h3>
    <button mat-raised-button style="background-color: #1abc9c;color: white;">Save</button>
  </div>
  <div>
    <h5>Header Details</h5>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2%">
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter Your name"/>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Designation</mat-label>
        <input matInput placeholder="Designation"/>
      </mat-form-field>
    </div>
  </div>
  <div>
    <h5>About us Details</h5>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2%">
      <div fxFlex fxLayout="column">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Experience</mat-label>
          <input matInput placeholder="Enter Experience in years"/>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>About us title</mat-label>
          <input matInput placeholder="About us title"/>
        </mat-form-field>
      </div>
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>About description</mat-label>
        <textarea matInput rows="5"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div>
    <div fxLayout="row" fxLayoutAlign="space-between center"><h5>Image details</h5>
      <button mat-stroked-button style="color: #1abc9c;">Add new</button>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2%">
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Header image</mat-label>
        <input matInput placeholder="eg:imagename"/>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>about us image</mat-label>
        <input matInput placeholder="eg:imagename"/>
      </mat-form-field>
    </div>
  </div>
</div>
