.paginator-container {
    border-top:1px solid var(--primary-color);
    padding: 2%;
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
    button {
      padding: 5px 2px;
      background-color: transparent;
      color: var(--primary-color);
      border: 1px solid var(--primary-color);
      cursor: pointer;
      width: 30px;
      border-radius: 5px;
    }
    button:hover {
      background: var(--primary-color);
      border: none;
      color: white;
    }
    button:disabled {
      color: gray;
      cursor: not-allowed;
      opacity: 0.5;
      border: 1px solid grey;
    }
    button:disabled:hover {
      cursor: auto;
      background-color: transparent;
    }
    select {
      padding: 5px 2px;
      width: 100px;
      background-color: var(--primary-color);
      color: white;
      border-radius: 5px;
      border:none;
      option {
        color: #ffffff;
      }
      option:hover {
        background: black;
      }
    }
  }
  .pagination-text {
    font-size: 16px;
    color: var(--primary-color);
  }
  