<div class="container">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h3>Skills section</h3>
    <button class="primary-button" mat-raised-button>
      Save
    </button>
  </div>
  <div>
    <form [formGroup]="skillGroupForm">
      <div formArrayName="skills">
        <div fxLayout="row" fxLayoutAlign="end center" style="width: 100%; padding: 2%">
          <button (click)="addSkillGroup()" mat-icon-button>
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div *ngFor="let skillGroup of getSkillGroupArray.controls; let i = index" [formGroupName]="i"
             class="mat-elevation-z1" style="margin: 2%;">
          <div>
            <div fxLayout="row" fxLayoutAlign="space-between center" style="padding: 2%;">
              <mat-form-field appearance="outline">
                <mat-label>skill group name</mat-label>
                <input formControlName="skillGroupName" matInput placeholder="eg:frontend/backend"/>
              </mat-form-field>
              <div fxLayout="row">
                <button (click)="addSkill(i)" mat-icon-button>
                  <mat-icon>add</mat-icon>
                </button>
                <button (click)="removeSkillGroup(i)" mat-icon-button>
                  <mat-icon class="delete_icon">delete</mat-icon>
                </button>
              </div>
            </div>
            <div formArrayName="skill">
              <div *ngFor="let skill of getSkills(i).controls; let j = index" [formGroupName]="j" style="padding: 2%;">
                <div class="mat-elevation-z3">
                  <div fxLayout="row" fxLayoutAlign="end center">
                    <button (click)="removeSkill(i,j)" mat-icon-button>
                      <mat-icon class="delete_icon">delete</mat-icon>
                    </button>
                  </div>
                  <div fxLayout="row" fxLayoutGap="2%" style="width: 100%;padding: 2%;">
                    <div fxFlex fxLayout="column">
                      <mat-form-field appearance="outline">
                        <mat-label>skill name</mat-label>
                        <input formControlName="name" matInput placeholder="eg:angular/node"/>
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>image name</mat-label>
                        <input formControlName="imageDir" matInput placeholder="eg:image.jpg"/>
                      </mat-form-field>
                    </div>
                    <mat-form-field appearance="outline" fxFlex>
                      <mat-label>description</mat-label>
                      <textarea [rows]="5" formControlName="name" matInput placeholder="description"></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
