@if(pageProperties.isLoader){
  <app-common-loader></app-common-loader>
}
@else{
<div class="sign-in-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2%">
  <form [formGroup]="signInForm">
  <mat-card class="sign-in-card">
    <div fxLayout="row" fxLayoutAlign="center center"><mat-icon class="sign-in-icon">supervised_user_circle</mat-icon></div>
    <mat-card-header class="sign-in-header">
      <mat-card-title class="sign-in-title">Sign in to continue</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="sign-in-content">
      <mat-form-field appearance="outline" style="width: 100%;margin-bottom: 2%;">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
        <mat-error>Please enter a valid email</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 100%;margin-bottom: 2%;">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error>Enter valid password</mat-error>
      </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button class="primary-button sign-in-button" type="button" (click)="login()" [disabled]="!signInForm.valid">
       @if(pageProperties.buttonLoader){
        <mat-spinner class="button-spinner"></mat-spinner>
       }
       @else{
        <span>SIGN IN</span>
       } 
      </button>
    </mat-card-actions>
  </mat-card>
  </form>
</div>
}