<app-common-loader *ngIf="pageProperties.isLoader"></app-common-loader>
<div *ngIf="!pageProperties.isLoader">
<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <button (click)="sidebar.toggle()" mat-icon-button>
      <mat-icon style="color: white;">menu</mat-icon>
    </button>
    <span class="toolbar-title">Portfolio admin</span>
    <span class="spacer"></span>
    <div [matMenuTriggerFor]="menu" class="profile-menu">
        <mat-icon>account_circle</mat-icon>
        <p>{{pageProperties.userName}}</p>
        <mat-icon>arrow_drop_down</mat-icon>
        <mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>person</mat-icon>
    <span>General details</span>
  </button>
    <button mat-menu-item>
    <mat-icon>description</mat-icon>
    <span>Resume</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
      </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container style="height: 91vh; background-color: white">
  <mat-drawer mode="side" #sidebar opened style="min-width: 15%;">
    <mat-nav-list>
      <ng-container *ngIf="pageProperties.menuDetails?.length"><a [routerLink]="menu.routeLink" mat-list-item class="menu-link" routerLinkActive="active-link" *ngFor="let menu of pageProperties.menuDetails" ><p routerLinkActive="text-change">{{menu.name}}</p></a></ng-container>
    </mat-nav-list>
  </mat-drawer>
  <div style="background-color: transparent;color:black !important;flex-grow: 1;">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
</div>

