<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <button (click)="sidebar.toggle()" mat-icon-button>
      <mat-icon style="color: white;">menu</mat-icon>
    </button>
    <span style="color: white;">Portfolio admin</span>
    <span class="spacer"></span>
    <button (click)="navigateSignIn()" aria-label="logout-icon" mat-icon-button style="color: white;">
      <mat-icon>power_settings_new</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container style="height: 91vh; background-color: white">
  <mat-drawer #sidebar mode="side" opened style="min-width: 15%;">
    <mat-nav-list>
      <a *ngFor="let menu of menuDetails" [routerLink]="menu.routeLink" mat-list-item
         style="font-weight: 500;">{{ menu.name }}</a>
    </mat-nav-list>
  </mat-drawer>
  <div style="background-color: transparent;color:black !important;flex-grow: 1;">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
